extends layout

block content
  div.container
    div.row
      div.span12
        form(method='post', action='/' id='auth')
          legend Authorize
          input(type='email', name='email', id='email' value='email@test.com')
          p
          div.form-actions
            input.btn.btn-primary(type='submit', value='Submit' id='email-submit')
    div.row
      div.span12
        form(method='post', action='/')
          legend Upload file
          input(type='file', name='myFile', id='myFile')
          p
          div.form-actions
            input.btn.btn-primary(type='submit', value='Submit' id='file-submit')
    hr
    div.row
      div.span12
        div.progress.progress-striped.active.hide
          div.bar(style='width: 0%')
    div.row
      div.span12
        div.alert.hide
          button.close(type='button', data-dismiss='alert') x
          span
            strong.message
